*{
  box-sizing: border-box;
}
body {
  overflow: hidden;

  display: flex;
  justify-content: flex-start;

  max-height: 100vh;
  flex-flow: row nowrap;
  background-color: black;

  margin: 0;
}

.img {
  display: flex;

  width: 300px;
  min-height: 100vh;
  background-color: yellow;

  position: relative;
}

.img .img-one {
  border: 2px solid white;
  width: 45000px;
  min-height: 100vh;
  background-color: white;
}