
* {
  box-sizing: border-box;
}


Body {
  margin: 0 auto;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.scroll-horizontal-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
}

.screen {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration:none;
  color: black;
  font-size: 1em;
}
li {
  list-style:none;
  color: black;
}
/* .main-nav {
  width:100vh;    
  height:60px;

  padding: 10px;
  display: flex;
  clear: both;
  float: left;

  transform-origin: left top;
  border: 1px solid black;
  transform-origin: left top;
  transform:rotate(-90deg) translateX(-100%);
}

ul.nav li {    
  margin:35px 20px;
  float:right;
  height:100%;
  line-height:45px;  
} */

.about {
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color:#ECE6DE;
  background-color: black;
}
.about a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 2em;
  padding: 50px 30px 30px 50px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #ECE6DE;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  background-color: black;
}

/* Control the right side */
.right {
  right:auto;
  min-width: 50%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.arrow.white {
  display: inline-flex;
  max-width: 255px;
  max-height: 255px;
  transform: rotateZ(-90deg);
  justify-content: flex-end;
  margin-top: 80%;
  margin-right: 80%;
}

/* these are the images style */
.accordion {
  
  min-width: 300px;
 
  overflow: hidden;
  margin: 0px auto;
}
.accordion article {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion article section {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 900ms ease-in;
}
.accordion article section div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion article section div a {
  display: block;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  transition: all 200ms ease-in;
}
.accordion article section div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-20px);
  transition: all 1.5s ease-in-out;
}
.accordion article section div a h2 {
  font-family: sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion article section div a p {
  top: 200px;
  font-size: 1.5em;
}
/**/
.accordion article section:nth-child(1) {
  /*fix image path*/
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.accordion article section:nth-child(2) {
/*fix image path*/
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.accordion article section:nth-child(3) {
	/*fix image path*/
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.accordion article section:nth-child(4) {
	/*fix image path*/
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  
}
.accordion article:hover section, .accordion article:focus-within section {
  width: 8%;
}
/* .accordion article section:focus {
  outline: none;
} */
.accordion article:hover section:hover,
.accordion article section:focus, .accordion article:focus-within section:focus {
  width: 8%;
}
.accordion article:hover section:hover a,
.accordion article section:focus a, .accordion article:focus-within section:focus a {
  background: rgba(0, 0, 0, 0.4);
}
/* .accordion article:hover section:hover a *,
.accordion article section:focus a *, .accordion article:focus-within section:focus a * {
  opacity: 1;
  transform: translateX(0);
} */
.accordion article:hover section {
  width: 8% !important;
  
}
.accordion article:hover section a * {
  opacity: 0 !important;
}
.accordion article:hover section:hover {
  width: 50% !important;
}
.accordion article:hover section:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion article:hover section:hover a * {
  opacity: 1 !important;
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion article section, .accordion article section:hover, .accordion article:hover section, .accordion article:hover section:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    transition: none;
  }

}

/* the page of Digital typography */

.accordion2 article section:nth-child(1) {
  /*fix image path*/
  background-image: url(../img/6.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.accordion2 article section:nth-child(2) {
/*fix image path*/
  background-image: url(../img/7.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.accordion2 article section:nth-child(3) {
	/*fix image path*/
  background-image: url(../img/8.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.accordion2 article section:nth-child(4) {
	/*fix image path*/
  background-image: url(../img/9.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  
}

